# Node modules directory
node_modules

# Environment file
.**.env
.env

# Lock files
*.lock

# Docker data directories
.docker
secrets
keys

# Test output
.nyc_output
test-results.json

# Generated configuration file
.micmanager.conf
